@font-face {
  font-family: "BarlowCondensed-SemiBold";
  src: url("../fonts/BarlowCondensed-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowCondensed-Regular";
  src: url("../fonts/BarlowCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "BarlowCondensed-Bold";
  src: url("../fonts/BarlowCondensed-Bold.ttf") format("truetype");
}

.coaching {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}
a {
  text-decoration: none;
}
div {
  -webkit-text-size-adjust: none;
}
